.header {
  //position: fixed;
  z-index: 99;
  top: 0;

  width: calc(100% - 200px);
  max-width: 1240px;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 24px;
    background-color: #FFF;

    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  }

  &_back {
    padding: 0;
    border: none;

    &_icon {
      color: #000;
      font-size: 24px;
    }
  }

  &_center {
    &_search {
      max-width: 360px;
    }
  }

  &_end {
    display: flex;
    align-items: center;
    gap: 24px;

    &_notification {
      color: #000;
    }

    &_avatar {
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;

      border-radius: 50px;

      border: 1px solid #151D48;
      transition: color .25s linear;

      &:hover {
        border-color: #384cbb;
        transition: border-color .25s linear;
      }

      &_icon {
      }
    }
  }
}
