.header {
  position: fixed;
  top: 0;

  width: calc(100% - 200px);
  max-width: 1240px;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 24px;
    background-color: #FFF;

    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  }

  &_sidebar_icon {
    color: #000;
  }

  &_center {
    &_search {
      max-width: 360px;
    }
  }

  &_end {
    display: flex;
    align-items: center;
    gap: 24px;

    &_notification {
      color: #000;
    }

    &_avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;

      border-radius: 50px;

      border: 1px solid #151D48;
    }
  }
}
