.customer_update_modal {
  padding-top: 16px;

  &_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_tlc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    padding-top: 16px;
  }

  &_horizontal {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &_vertical {
    display: flex;
    flex-direction: column;
    gap: 12;
  }
}
