.policy_detail_page {
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_actions {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &_body {
    &_vertical {
      display: flex;
      gap: 16px;
    }

    &_horizontal {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &_left {
      flex: 1;

      &_fhv {
        // TODO
      }

      &_policy {
        background-color: #FFF;
        padding: 16px;

        border-radius: 12px;
        border: 1px solid #F2F2F2;
      }

      &_fees {
        padding: 16px;
        background-color: #FFF;

        border-radius: 12px;
        border: 1px solid #F2F2F2;
      }

      &_installments {
        padding: 16px;
        background-color: #FFF;

        border-radius: 12px;
        border: 1px solid #F2F2F2;

        &_content {
          display: flex;
          gap: 10px;

          &_item {
            padding: 4px 8px;

            display: flex;
            align-items: center;
            gap: 8px;

            //border-radius: 4px;
            //border: 1px solid #151D48;
          }

          &_footer {
            display: flex;
            align-items: center;
            gap: 16px;

            &_item {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }
        }
      }
    }

    &_right {
      padding: 24px;

      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 16px;

      background-color: #FFF;
      border-radius: 8px;
      border: 1px solid #F2F2F2;

      &_calendar {
        &_tile {
          &_fee {
            background-color: #ef4444 !important;
            color: #FFF;
          }

          &_due {
            background-color: #0085FF !important;
            color: #FFF;
          }
        }

        &_statuses {
          display: flex;
          align-items: center;
          gap: 16px;

          &_item {
            display: flex;
            align-items: center;
            gap: 8px;

            &_color {
              width: 15px;
              height: 15px;
            }

            &_text {
              font-size: 12px;
            }
          }
        }
      }

      &_payments {}
    }

    &_footer {
      &_table {
        padding: 24px;
        background-color: #FFF;

        border-radius: 8px;
        border: 1px solid #F2F2F2;
      }
    }

  }

  &_footer {

  }


}
