.renewals_page {
  padding: 16px;

  &_actions {
    padding: 12px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: #FFF;

    &_label {
      font-weight: bold;
    }

    &_filters {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &_actions {
        align-self: end;

        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  }
}
