.sidebar {
  border-right: 1px solid #F6F6F6;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    height: 100%;

    padding: 16px;
  }

  &_logo {
    width: 150px;

    margin-bottom: 24px;

    &_text {
      font-size: 36px;
      text-align: center;
      color: #151D48;
    }
  }

  &_sections {
    border: none;

    align-self: start;
  }
}
