.customer_page {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 20px;

  flex: 1;

  &_tlc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    padding-top: 16px;
  }

  &_actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
