.customer_details_page_contacts_section {
  padding: 10.31px;

  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: 1px solid #12372A;

  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 39px;
    height: 39px;

    border-radius: 4px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
