.sidebar_section {
  display: flex;
  padding: 13.5px 0 13.5px 48px;

  background-color: #E9F9F0;

  &_container {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &_icon {
    width: 24px;
    height: 24px;

    background-color: red;
    border-radius: 8px;
  }
}
