.policy_fee_delete_modal {
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &_title {
    font-size: 18px;
    text-align: center;
  }

  &_description {
    font-size: 14px;
    text-align: center;
  }
}
